---
name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate:
    name: Validate Terraform
    runs-on:
      ubuntu-latest
    environment: plan
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: Validate code in devcontainer
        uses: devcontainers/ci@v0.3
        with:
          cacheFrom: ghcr.io/id-unibe-ch/cloud-azure-alz-devcontainer
          push: never
          runCmd: |
            set -euxo pipefail
            pre-commit run -a


  plan:
    name: Validate Terraform Plan
    needs: validate
    runs-on:
      ubuntu-latest
    concurrency: mgmt-tfstate
    environment: plan
    permissions:
      id-token: write
      contents: read
    env:
      ARM_CLIENT_ID: "${{ secrets.AZURE_CLIENT_ID }}"
      ARM_SUBSCRIPTION_ID: "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
      ARM_TENANT_ID: "${{ secrets.AZURE_TENANT_ID }}"
      ARM_USE_AZUREAD: true
      ARM_USE_OIDC: true

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Install tf-summarize
        uses: kishaningithub/setup-tf-summarize@v1

      - name: Terraform Init
        run: |
          terraform \
          init \
          -backend-config="resource_group_name=${{secrets.BACKEND_AZURE_RESOURCE_GROUP_NAME}}" \
          -backend-config="storage_account_name=${{secrets.BACKEND_AZURE_STORAGE_ACCOUNT_NAME}}" \
          -backend-config="container_name=${{secrets.BACKEND_AZURE_STORAGE_ACCOUNT_CONTAINER_NAME}}" \
          -backend-config="key=terraform.tfstate"

      - name: Terraform Plan
        id: plan
        run: |
          terraform \
          plan \
          -out=tfplan \
          -input=false

      - name: Terraform Summary
        run: |
          echo "# Summary :rocket:" > $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "## tf-summarize" >> $GITHUB_STEP_SUMMARY
          terraform show -json tfplan | tf-summarize -md >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "## tfplan" >> $GITHUB_STEP_SUMMARY
          echo "<pre><samp>" >> $GITHUB_STEP_SUMMARY
          terraform show tfplan -no-color >> $GITHUB_STEP_SUMMARY
          echo "</samp></pre>" >> $GITHUB_STEP_SUMMARY